{% extends 'base.html' %}
{% block title %}QuantEasy{% endblock %}
{% block contents %}
<div class="hero-wrap js-fullheight" style="background-image: url('/static/images/bg_5.jpg');">
    
    <div class="overlay"></div>
    
    <div class="container">
        
        <div class="row no-gutters slider-text js-fullheight align-items-center" data-scrollax-parent="true">
            <div class="col-md-7 ftco-animate">
                <h1>{{ feed.title }}</h1>

                <div>
                    {{ feed.content }}
                </div>
                <div>
                    {{ feed.created_at }}
                </div>
                <div>
                    {{ feed.strategy_num }}
                </div>

            </div>
        </div>
    </div>
</div>
{% endblock %}